<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>showDocs</servlet-name>
        <servlet-class>net.harshadura.doc.app.ShowDocs</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showDocs</servlet-name>
        <url-pattern>/show-docs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>byTag</servlet-name>
        <servlet-class>net.harshadura.doc.app.ByTag</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>byTag</servlet-name>
        <url-pattern>/show-docs-bytag</url-pattern>
    </servlet-mapping>

    <!-- activated per default -->
    <context-param>
        <param-name>org.apache.sirona.reporting.activated</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- path in the application default is /sirona -->
    <context-param>
        <param-name>org.apache.sirona.reporting.mapping</param-name>
        <param-value>/monitoring</param-value>
    </context-param>

</web-app>



